
    * {
      box-sizing: border-box;
      margin: 0;
      padding: 0;
      font-family: Arial, sans-serif;
    }

    body {
      background: url('https://uacm.edu.mx/portals/_default/skins/wcga-uacm/images/Plantel.jpg') no-repeat center center fixed;
      background-size: cover;
      height: 100vh;
      display: flex;
      justify-content: center;
      align-items: center;
      
    }

    .chatbot-container {
      background-color: rgba(255, 255, 255, 0.1);
      border: 3px solid black;
      border-radius: 30px;
      width: 70%;
      max-width: 900px;
      height: 80%;
      position: relative;
      padding: 30px;
      -webkit-backdrop-filter: blur(10px); 
      backdrop-filter: blur(5px);
    }

    .faq-box {
      background-color: white;
      border-radius: 30px;
      width: 250px;
      margin: 0 auto;
      padding: 30px 20px;
      text-align: center;
      font-weight: bold;
    }

    .faq-box div {
      margin: 10px 0;
      cursor: pointer;
    }

    .logo {
      position: absolute;
      top: 20px;
      left: 40px;
      height: 60px;
    }

    .icon-audio {
      position: absolute;
      top: 20px;
      right: 40px;
      height: 40px;
      cursor: pointer;
    }

    .chat-input {
      position: absolute;
      bottom: 20px;
      left: 30px;
      right: 30px;
      display: flex;
      align-items: center;
    }

    .chat-input input {
      flex-grow: 1;
      padding: 10px 20px;
      border-radius: 20px;
      border: none;
      font-size: 16px;
    }

    .chat-input button {
      background-color: black;
      color: white;
      border: none;
      padding: 10px 20px;
      margin-left: 10px;
      border-radius: 50%;
      cursor: pointer;
      font-size: 16px;
    }
